<%- include('includes/head') %>

<%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 mt-4">
      <h1 class="display-1 text-center">ERRO 404</h1>
      <h1 class="text-center lead">Página não encontrada. Confira o endereço/URL e tente novamente</h1>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

    <%- include('includes/footer') %>