<%- include('includes/head') %>

    <%- include('includes/navbar') %>

        <div class="text-center container lead">
            Bem vindo, <%= user.nome %>
            <p>Crie seus contatos, e veja, edite e exclua-os na aba "Agenda" </p>
        </div>

        <%- include('includes/footer') %>